html {
  line-height: 1.5;
  box-sizing: border-box;
}

body {
  font-family: Roboto;
  font-size: .9rem;
  font-weight: 450;
  font-stretch: 95%;
  overflow-x: hidden;
  color: #000;
  background: #fff;
  text-rendering: optimizeLegibility;
  padding: 1rem 1.5rem;
  margin: 0;
}

.table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  text-align: left;
  border: .1rem solid #bfbfbf
}

.table.table-striped tbody tr:nth-of-type(odd) {
  background: #eee
}

.table tbody tr.active,
.table.table-striped tbody tr.active {
  background: #e6e6e6
}

.table.table-hover tbody tr:hover {
  background: #e6e6e6
}

.table.table-scroll {
  display: block;
  overflow-x: auto;
  padding-bottom: .5rem;
  white-space: nowrap
}

.table td {
  padding: .3rem .6rem 0;
  border-bottom: .1rem solid #bfbfbf
}

.table th {
  font-weight: 600;
  padding: .3rem .6rem 0;
  border-bottom: .1rem solid #000
}

.b--black {
  border-color: #000
}

.ba {
  border-style: solid;
  border-width: 1px
}

.bg-light-gray {
  background-color: #eee
}

a:hover {
  text-decoration: underline;
  color: #002e6b;
}

a:active,
a:hover {
  outline-width: 0;
}

a {
  text-decoration: none;
  color: #00449e;
  outline: 0;
  outline-width: 0px;
}

.columns {
  width: 60em;
  display: flex;
  margin-right: -.4rem;
  margin-left: -.4rem;
}

.column {
  max-width: 100%;
  padding-right: .4rem;
  padding-left: .4rem;
  -ms-flex: 1;
  flex: 1;
}

*,
::after,
::before {
  box-sizing: inherit;
}

.flex-measure-60 {

  flex: 0 0 60em;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 60em;
}

.flex-measure-36 {

  flex: 0 0 36em;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 36em;
}

.h2,
h2 {
  font-size: 1rem;
  font-weight: 600;
}

.container {
  max-width: 800px;
  margin: 0;
}

.container {
  width: 100%;
  padding-right: .4rem;
  padding-left: .4rem;
}

h2,
h3,
h4 {
  font-size: 1em;
}

.prg-language-color {
  position: relative;
  top: 1px;
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 1px solid var(--borderColor-muted, var(--color-primer-border-contrast));
  border-radius: 50%;

}

#dpic {
  grid-column: span 6;
  text-align: left;

}

#dpic img {
  width: 160px;
  height: 160px;
  border-radius: 120px;
}

.quote {
  font-weight: normal;
  font-style: italic;
  color: #999;
  font-size: 18px;
  padding: 0;
  margin: 5px 0 10px 0;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #181818;
    color: #eee;
  }

  .bg-light-gray {
    background-color: #333
  }

  .b--black {
    border-color: #555
  }

  .table td {
    padding: .3rem .6rem 0;
    border-bottom: .1rem solid #555
  }

  .table th {
    font-weight: 550;
    padding: .3rem .6rem 0;
    border-bottom: .1rem solid #000
  }

  .table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    text-align: left;
    border: .1rem solid #555;
    line-height: 1.55;
  }

  a {
    text-decoration: none;
    color: #3371c2;
    outline: 0;
    outline-width: 0px;
  }

  a:hover {
    color: #6ca1e7;
  }
}