<div id="dhead" class="container">
    <div class="row">
        <div id="dpic">
            <img src="{{ site.avatar_img_path }}" class="ppic">
        </div>
        <div id="ddesc">
            <h1>{{ site.name }}</h1>
            <h2>{{ site.description }}</h2>
            <div id="dico">
                <a href="https://twitter.com/{{ site.twitter_username }}"><img src="assets/ctwitter.svg" class="iico"></a>
                <a href="https://github.com/{{ site.github_username }}"><img src="assets/cgithub.svg" class="iico"></a>
            </div>
        </div>
    </div>
</div>
<hr>